{% extends 'base.html' %}

{% block content %}
<h1> Requests history </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Method</th>
      <th>Host</th>
      <th>Path</th>
      <th>Query</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>{{ request.method }}</td>
        <td>{{ request.host }}</td>
        <td>{{ request.path }}</td>
        <td>{{ request.query }}</td>
        <td>{{ request.time }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{##}
{#{% if is_paginated %}#}
{#  <ul class="pagination">#}
{#    {% if page_obj.has_previous %}#}
{#      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&laquo;</span></li>#}
{#    {% endif %}#}
{#    {% for i in paginator.page_range %}#}
{#      {% if page_obj.number == i %}#}
{#        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#      {% else %}#}
{#        <li><a class="btn btn-outline-secondary mb-4" href="?page={{ i }}">{{ i }}</a></li>#}
{#{% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}#}
{#                <a class="btn btn-outline-secondary mb-4" href="?page={{ i }}">{{ i }}</a>{% endif %}#}
{#    {% endfor %}#}
{#    {% if page_obj.has_next %}#}
{#      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>#}
{#    {% else %}#}
{#      <li class="disabled"><span>&raquo;</span></li>#}
{#    {% endif %}#}
{#  </ul>#}
{#{% endif %}#}
{##}
{#{% endblock %}#}


    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock %}
