<!DOCTYPE html>
<html lang="en">
<head>
    {# Load copyright #}
    {% load copyright %}

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'book_list' %}">Books list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'book_create' %}">Create book</a>
        </li>

{#       <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'book_update' pk=book.pk%}">Update book</a>#}
{#      </li>#}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
        {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

        {% endif %}
    </ul>
  </div>
</nav>
<div  id='content' style="margin-left: 10px; margin-top: 5px">
{% block content %}
{% endblock %}
</div>
</body>
<footer>
    {% autoescape off %}{% copyright_years %}{% endautoescape %}
</footer>
</html>
