{% extends "base.html" %}

{% load static %}

{% load thumbnail %}

{% block content %}

    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
  </style>

    <div>
        {% if book.image %}
        <img class="mr-3 leftimg" src="{{ book.image.url }}"  >
        {% else %}
        <img class="mr-3 leftimg" src="{% static 'default_book.jpg' %}" style="width: 200px; height: 200px">
        {% endif %}
        <ul class="list-group col-7">
            <li class="list-group-item"><i><b>Title:</b></i> {{ book.title }}</li>
            <li class="list-group-item"><i><b>Author:</b></i> {{ book.author.all|join:", " }}</li>
            <li class="list-group-item"><i><b>ISBN:</b></i> {{ book.isbn }}</li>
            <li class="list-group-item"><i><b>Price:</b></i> {{ book.price }}</li>
            <li class="list-group-item"><i><b>Publish date:</b></i> {{ book.publish_date }}</li>
            <li class="list-group-item"><a href="{% url 'book_update' pk=book.pk %}">
                <button type="submit" class="btn btn-outline-secondary">Редактировать</button></a>
                <a href="{% url 'book_delete' pk=book.pk %}">
{#                    <button type="submit" class="btn btn-outline-secondary">Удалить</button></a>#}
                    <button type="submit" class="btn btn-outline-danger">Удалить</button></a>
            </li>
        </ul>
    </div>
{% endblock %}
