{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Delete Post "{{ book.title|title }}" - {{ block.super }}
{% endblock %}


{% block content %}
    <form action="{{ post.get_delete_url }}" method="post">
        {% csrf_token %}
        <div class="form-group my-2 p-2 border col-7">
            <p>Are you sure that you want to delete <br>
                <b>"{{ book.title|title }}"</b> book?</p>
            <a href="{{ book.get_absolute_url }}"><button type="submit" name="button" class="btn btn-outline-secondary">Cancel</button></a>
            <button type="submit" name="button" class="btn btn-outline-danger">Delete</button>
        </div>
    </form>

{% endblock %}
