{% extends "base.html" %}

{% load bootstrap4 %}

{% load thumbnail %}

{% load static %}

{% block content %}
    <form method="post" class="col-5" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>

    </form>
{% endblock %}
